.editform-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    max-width: 100%;
    width: 550px;
    text-align: left;
    font-size: 13px;
}

.editform-ingredient, .editform-type, .editform-purchase, .editform-expiry {
    margin-right: 10px;
    margin-bottom: 15px;
}

.editform-ingredient label {
    grid-area: 1 / 1 / 2 / 2;
    width: 100px;
}

.editform-ingredient input {
    grid-area: 1 / 2 / 2 / 3;
    width: 150px;
    height: 40px;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.editform-ingredient:hover input {
    border: 1px solid black;
}

.editform-type label {
    grid-area: 1 / 3 / 2 / 4;
    width: 100px;
}

.editform-type select {
    grid-area: 1 / 4 / 2 / 5;
    width: 150px;
    height: 40px;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.editform-type:hover select {
    border: 1px solid black;
}

.editform-purchaselabel {
    grid-area: 2 / 1 / 3 / 2;
    width: 120px;
}

.editform-purchasedate {
    grid-area: 2 / 2 / 3 / 3;
    width: 150px;
    height: 30px;
}

.editform-expiry label {
    grid-area: 2 / 3 / 3 / 4;
}

.editform-expirydate {
    grid-area: 2 / 4 / 3 / 5;
    width: 150px;
    height: 30px;
}
