label {
  font-weight: bold;
  margin: 5px;
  padding: 0 5px;
}
.modal-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 450px;
  margin: 0 auto;
}
.form-input {
  width: 180px;
  height: 55px;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}
.form-input:hover {
  border: 1px solid black;
}
.form-row {
  margin: 20px;
}
.form-buttons {
  text-align: center;
}
.form-button {
    margin: 10px;
    border: none;
    padding: 5px 15px;
    background-color: rgb(250, 212, 102);
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}
.css-ih7bsi-MuiFormControl-root-MuiTextField-root, .css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
  width: 180px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  background-color: white;
  border-radius: 3px;
}